<div>
    <p>©2023 <em>MarksMate</em> All Rights Reserved.</p>
</div>


</div>
</main>
</div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src = "/public/js/index.js" charset="utf-8"></script>

</body>
</html>