<%-include ("partials/header")-%>

<!-- Main Dashboard -->

<div class = "fulls">
<main class = "main">
    <div class = "full1">
    <nav class = "horizontal">
        <div class = "tfull">
        <div class = "tfull1">
            <a class = "tfull2" href = " ">
            Pages
            <span class = "tfull3">
                /
            </span>
            </a>
            <a class = "tfull4" href = "/departments">
            Departments
            </a>
        </div>
        <p class = "tfull5">
            <a class = "tfull6" href = "/departments">
            Departments
            </a>
        </p>
        </div>  
    </nav>

    <!-------Student Card----------->

            <div class = "student">
                <div class = "student-body">
                    <div class="student-head">
                        <div class = "general-h">
                            <h4 class = "general-title">Add Department Information</h4>
                        </div>
                    </div>

                <form class= "" action = "/departments/adddepartment" method = "post">
                    <div class = "row">

                        <div class = "add">
                            <label class = "add-input">Department Name</label>
                            <input name = "deptName"type="text" placeholder="" class="form-control" autocomplete = "off" required>
                        </div>

                        <div class = "add">
                            <label class = "add-input">Name Abbreviation</label>
                            <input name = "deptAbbr"type="text" placeholder="i.e (CS)" class="form-control" autocomplete = "off" required>
                        </div>

                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "add2">
                    <button type="submit" class="add2-btn">Submit</button>
                    <button type="reset" class="add2-btn1">Reset</button>
                </div>
            </div>

                </div>
            </form>
        </div>
    </div>

    

<%-include ("partials/footer")-%>
