<%-include ("partials/header")-%>

<!-- Main Dashboard -->

<div class = "fulls">
<main class = "main">
    <div class = "full1">
    <nav class = "horizontal">
        <div class = "tfull">
        <div class = "tfull1">
            <a class = "tfull2" href = " ">
            Pages
            <span class = "tfull3">
                /
            </span>
            </a>
            <a class = "tfull4" href = "/teachers">
            Teachers
            </a>
        </div>
        <p class = "tfull5">
            <a class = "tfull6" href = "/teachers">
            Teachers
            </a>
        </p>
        </div>  
    </nav>

    <!-------Student Card----------->


            <div class = "student">
                <div class = "student-body">
                    <div class="student-head">
                        <div class = "general-h">
                            <h4 class = "general-title">Add Personal Information</h4>
                        </div>
                    </div>

                <form class= "" action = "/teachers/addteacher" method = "post">
                    <div class = "row">

                        <div class = "add">
                            <label class = "add-input">Name</label>
                            <input name = "Name"type="text" placeholder="" class="form-control" required>
                        </div>

                        <div class = "add">
                            <label class = "add-input">Gender</label>
                            <select placeholder = "Select"name = "gender" class="form-control" required>
                                <option value="" disabled selected>Select</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>

                        <div class = "add">
                            <label class = "add-input">Date Of Birth</label>
                            <input name = "dob" type="date" placeholder="" class="form-control" required>
                        </div>

                        <div class = "add">
                            <label class = "add-input">Phone</label>
                            <input name = "phone" type="text" minlength = "11" maxlength = "11" placeholder="" class="form-control">
                        </div>

                        <div class = "add">
                            <label class = "add-input">CNIC</label>
                            <input name = "cnic" type="text"  class="form-control"  minlength = "13" maxlength = "13" required>
                        </div>


                        <div class = "add">
                            <label class = "add-input">Address</label>
                            <input name = "address" type="text" placeholder="" class="form-control" required>
                        </div>

                        <div class = "add">
                            <label class = "add-input">E-Mail</label>
                            <input name = "email" type="text" placeholder="" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "add2">
                    <button type="submit" class="add2-btn">Submit</button>
                    <button type="reset" class="add2-btn1">Reset</button>
                </div>
            </div>

                </div>
            </form>
        </div>
    </div>

    

<%-include ("partials/footer")-%>
