<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>

      <link rel="stylesheet" href="/public/css/loginstyle.css">
      <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/eb4f25203a.js" crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

      <link rel="icon" type="image/x-icon" href="/images/favicon.png">

  </head>
  <body class = "all">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KC7D56Q" height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
    </noscript>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <form action = "/" method = "post">
      <h4 class = "header">Login</h4>
      <p>Enter your userID and password to sign in!</p>
      <table cellspacing = "20">
        <tr>
          <td><img src = "/public/images/favicon.png" alt = "brand logo"></td>
          <td><em><h1>MarksMate<br>Admin</h1></em>
           </td>
        </tr>
      </table>
      <div class = "block">
        <label>UserID</label><br>
        <i class="fa-solid fa-user"></i>
        <input class = "username" type = "text"  placeholder = "Enter userID" name = "user" required ><br><br>
        
        <label>Password</label><br>
        <i class="fa-sharp fa-solid fa-key"></i>
        <input class = "password" type = "text" placeholder = "Enter password" name = "password" required><br><br>
      </div>



        <input class = "submit1" type = "submit" value = "Login">

        <p class = "copyright">©2023 <em>MarksMate</em> All Rights Reserved.</p>

    </form>
  </body>
</html>